@font-face {
  font-family: 'Metropolis';
  src: url('./assets/Fonts/Metropolis/Metropolis-Black.otf');
}

body {
  background: #f0f0f0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-family: 'Metropolis' !important;
}

.container {
  width: 70vw;
}

.top-illustration {
  position: absolute;
  top: -150px;
  right: -150px;
}

.bottom-illustration {
  position: absolute;
  bottom: -100px;
  left: -150px;
}
